.footer-container {
  height: 45vh !important;
  background-color: white;
}
a {
  color: #d2d2d2;
}

.fContact {
  font-size: 14pt;
  line-height: 4vw;
  color: #d2d2d2;
  font-weight: lighter;
  font-family: Helvetica, sans-serif;
  grid-row: 2;
  grid-column: 2/4;
  text-align: left;
}

.things {
  grid-row: 2;
  grid-column: 15/19;
}

.psi {
  background-image: url('psi-logo.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  width:10vw;
  height:10vw;
  float: right;
}
.bic {
  background-image: url('bic-logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  width:10vw;
  height:10vw;
  float:left
}
.ins-text {
  color: #d2d2d2;
  font-weight: lighter;
  font-family: Helvetica, sans-serif;
  position: absolute;
  margin-top: -50px;
  font-size: 14pt;
  line-height: 4vw;
}

.facebook {
  background-image: url('fb.png');
  background-repeat: no-repeat;
  background-size: contain;
  width:4vw;
  height:4vw;
  position: absolute;
  margin-left: 4.3vw;
  margin-top: -10px;
}
#copyright {
  color: #d2d2d2;
  font-family: 'manrope', sans-serif;
  text-align: center;
  grid-row: 3;
  grid-column: 1/20;
  font-size: 12pt;
}
