@media only screen and (max-width: 600px) {
   .nav-link {
     display: none;
   }
   .nav-link-space {
     display: none;
   }
   .header-text {
     font-size: 33px;
     margin-top: 6vh !important;
   }
   .subscription-top {
     display:none;
   }
   .logo {
     width:80vw;
     margin-top:10vh;
     margin-left: 2vw;
   }
   .body-text {
     font-size: 23px;
     line-height: 35px;
     margin-top: -7vh;
   }
   #desk {
     display: none;
   }
   #mobile {
     display: block;
   }
   .submit {

   }
}
