@media only screen and (max-width: 600px) {
   .nav-link {
     display: none;
   }
   .nav-link-space {
     display: none;
   }
   .header-text {
     /*font-size: 28px;
     margin-top: 9vh !important;
     margin-left: 1vw;*/
     font-size: 26px;
    margin-top: 7.5vh !important;
    margin-left: 1vw;
   }
   .subscription-top {
     display:none;
   }
   .logo {
     /*width:80vw;
     margin-top:10vh;
     margin-left: 0vw;*/
     width: 80vw;
    margin-top: 7.4vh;
    margin-left: 0vw;
   }
   .body-text {
    /*font-size: 21px;
    line-height: 26px;
    margin-top: -6vh;
    margin-left: 1vw;
    width: 280px;*/
    font-size: 21px;
    line-height: 24px;
    margin-top: -6vh;
    margin-left: 1vw;
    width: 280px;
   }
   #desk {
     display: none;
   }
   #mobile {
     display: block;
   }
   .submit {
     margin-top: 14.5vh !important;
     width: 84vw !important;
     height: 65px !important;
     margin-left: 2.5vw;
   }
   body {
     background-image: url('mobile.jpg');
     background-repeat: no-repeat;
     background-size: cover;
   }
   .section {

   }
   .container {
     opacity: 1;/*0.5*/

   }
   .s2-header {
     font-size: 28px;
color: #1c9bff;
font-weight: 700;
letter-spacing: 0px;
font-family: 'manrope', sans-serif;
grid-column: 2/19;
grid-row: 2;
margin-left: 2vw;
width: 97vw;
margin-top: 8vh;
line-height: 34px;
   }

   .s2-image {
     grid-column: 15/20;
grid-row: 4;
margin-top: 10vh;
margin-left: -21vw;
background-size: contain;
background-repeat: no-repeat;
background-image: url(petpals-s2.svg);
width: 55vw;
height: 86vh;
   }
   .s2-text {
     font-size: 19px;
color: #d2d2d2;
/* color: red; */
font-family: Helvetica, Sans-Serif;
font-weight: 300;
grid-column: 2/15;
grid-row: 4;
margin-left: 2vw;
margin-top: -28vh;
line-height: 31px;
width: 44vw;
   }
   .s3-header {
     font-size: 44pt;
    color: #ff3a3a;
    font-weight: 700;
    letter-spacing: 0px;
    font-family: 'manrope', sans-serif;
    grid-column: 2/19;
    grid-row: 2;
    margin-left: 0vw;
    margin-top: -24.3vh;
    line-height: 76px;
   }
}
