.s4-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(heart.svg);
  width: 10vw;
  height: 10vw;
  position: absolute;
  margin-left: 74.3vw;
  margin-top: 35px;
}
.s4-header {
  font-size: 38pt;
  /*38pt*/
  color: #1c9bff;
  font-weight: 700;
  letter-spacing: 0px;
  font-family: 'manrope', sans-serif;
  grid-column: 2/19;
  grid-row: 2;
  margin-left: 1.6vw;
  margin-top:-19.3vh;
}
.s4-text {
  font-size: 35px;
  color:#d2d2d2;
  /*color:red;*/
  font-family: Helvetica, Sans-Serif;
  font-weight: 300;
  grid-column: 2/19;
  grid-row:6;
  margin-left: 1.5vw;
  margin-top: -48.5vh;
  line-height: 45px;
}
