/* This is the Template CSS code -- this sets up the funtionality of the site in it's basic form */
.container {
  display:grid;
  grid-template-columns: repeat(20, 5vw);
  grid-auto-rows: minmax(0vw, auto);
	overflow-x: hidden;
	background-color: white;
	z-index: -1000;
  /*justify-content: center;*/
  align-items: center;
}

.section {
  width: 100vw;
  height: 100vh;
  grid-column: 1/21;
  /*justify-content: center;*/
  align-items: center;
}

.nav-container {
  grid-column: 16/20;
  grid-row: 1;
}

.nav-link {
  text-align: center;
  width:6vw;
  display:inline;
  color: #ff3a3a;
  font-family: 'Open Sans', sans-serif;
}
.nav-link-space {
  width:1vw;
  display:inline;
}

.top {
  display:grid;
  grid-template-columns: repeat(20, 5vw);
  /*justify-content: center;*/
  align-items: center;
}
.section-container {
  display:grid;
  grid-template-columns: repeat(20, 5vw);
  /*justify-content: center;*/
  align-items: center;
  grid-auto-rows: minmax(7vw, auto);
}

.logo {
    width: 32vw;
    height: 18vw;
    grid-column: 2/10;
    grid-row: 2;
    margin-left: 3vw;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left !important;
}

a {
  text-decoration: none;
  color: black;
}

input[type="email"] {
	display: inline-block;
	width: 20vw;
	height: 4vw;
	font-size: 1.4vw;
	font-family: 'Open Sans', sans-serif;
	border-radius: 8px;
	border: none;
	box-sizing: initial!important;

	transition: all .5s ease;
	border-color: rgba(0,0,0,.0);
	box-shadow: 0vw 0.23vw 0.85vw rgba(0,0,0,.2);

	padding-left: 1vw;
}

input[type="email"]:hover {
	box-shadow: 0vw 0.23vw 0.85vw 0.2vw rgba(0,0,0,0.2);
}

input[type="password"] {
	display: inline-block;
	width: 20vw;
	height: 4vw;
	font-size: 1.4vw;
	font-family: 'Open Sans', sans-serif;
	border-radius: 8px;
	border: none;
	box-sizing: initial!important;

	transition: all .5s ease;
	border-color: rgba(0,0,0,.0);
	box-shadow: 0vw 0.23vw 0.85vw rgba(0,0,0,.2);

	padding-left: 1vw;
}

input[type="password"]:hover {
	box-shadow: 0vw 0.23vw 0.85vw 0.2vw rgba(0,0,0,0.2);
}

input[type="submit"]  {
  background-color: #ff3a3a;
  color: #fff;
  box-sizing: initial!important;
  font-family: 'Open Sans', sans-serif;
  border-radius: 8px;
  border-color: rgba(0,0,0,.0);
  border: none!important;
  font-size: 1.4vw;
  width: 50vw;
  height: 4vw;
	display: inline-block;
	margin-top: 10px;
  text-align: left;
  box-shadow: 0vw 0.23vw 0.85vw rgba(255, 40, 40, 0.3);
  transition: box-shadow 0.5s ease-in-out;
}

input[type="submit"]:hover {
  box-shadow: 0vw 0.23vw 0.85vw 0.2vw rgba(255, 40, 40, 0.3);
}

@font-face {
    font-family: manrope;
    src: url("manrope/manrope-regular.ttf");
}

@font-face {
    font-family: manrope;
    font-weight: bold;
    src: url("manrope/manrope-bold.ttf");
}
