/* This is the Template CSS code -- this sets up the funtionality of the site in it's basic form */
.container {
  display:grid;
  grid-template-columns: repeat(20, 5vw);
  grid-auto-rows: minmax(0vw, auto);
	overflow-x: hidden;
	background-color: white;
	z-index: -1000;
  /*justify-content: center;*/
  align-items: center;

  scroll-snap-type: y proximity;
  /* Reserve space for header plus some extra space for sneak peeking. */
  scroll-padding-top: 15vh;
  overflow-y: scroll;
}
html {
    /*background-image: url("desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 20% -12%;*/
}
body {
  //opacity: 0.5;
  height:100%;
  overflow:scroll;
}

.section {
  width: 100vw;
  height: 100vh;
  grid-column: 1/21;
  /*justify-content: center;*/
  align-items: center;
  overflow: hidden;
  scroll-snap-align: start;
}

.nav-container {
  grid-column: 16/20;
  grid-row: 2;
}

.nav-link {
  text-align: center;
  width:6vw;
  display:inline;
  color: #ff3a3a;
  font-family: 'Open Sans', sans-serif;
}
.nav-link-space {
  width:1vw;
  display:inline;
}

.top {
  display:grid;
  grid-template-columns: repeat(20, 5vw);
  /*justify-content: center;*/
  align-items: center;
}
.section-container {
  display:grid;
  grid-template-columns: repeat(20, 5vw);
  /*justify-content: center;*/
  align-items: center;
  grid-auto-rows: minmax(7vw, auto);
}

.logo {
    width: 32vw;
    height: 18vw;
    grid-column: 2/10;
    grid-row: 2;
    margin-left: 3vw;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left !important;
}

a {
  text-decoration: none;
  color: black;
}

input[type="email"] {
	display: inline-block;
	width: 20vw;
	height: 4vw;
	font-size: 1.4vw;
	font-family: 'Open Sans', sans-serif;
	border-radius: 8px;
	border: none;
	box-sizing: initial!important;

	transition: all .5s ease;
	border-color: rgba(0,0,0,.0);
	box-shadow: 0vw 0.23vw 0.85vw rgba(0,0,0,.2);

	padding-left: 1vw;
}

input[type="email"]:hover {
	box-shadow: 0vw 0.23vw 0.85vw 0.2vw rgba(0,0,0,0.2);
}

input[type="password"] {
	display: inline-block;
	width: 20vw;
	height: 4vw;
	font-size: 1.4vw;
	font-family: 'Open Sans', sans-serif;
	border-radius: 8px;
	border: none;
	box-sizing: initial!important;

	transition: all .5s ease;
	border-color: rgba(0,0,0,.0);
	box-shadow: 0vw 0.23vw 0.85vw rgba(0,0,0,.2);

	padding-left: 1vw;
}

input[type="password"]:hover {
	box-shadow: 0vw 0.23vw 0.85vw 0.2vw rgba(0,0,0,0.2);
}
input[type="tel"] {
	display: inline-block;
	width: 20vw;
	height: 4vw;
	font-size: 1.4vw;
	font-family: 'Open Sans', sans-serif;
	border-radius: 8px;
	border: none;
	box-sizing: initial!important;

	transition: all .5s ease;
	border-color: rgba(0,0,0,.0);
	box-shadow: 0vw 0.23vw 0.85vw rgba(0,0,0,.2);

	padding-left: 1vw;
}

input[type="tel"]:hover {
	box-shadow: 0vw 0.23vw 0.85vw 0.2vw rgba(0,0,0,0.2);
}
input[type="text"] {
	display: inline-block;
	width: 20vw;
	height: 4vw;
	font-size: 1.4vw;
	font-family: 'Open Sans', sans-serif;
	border-radius: 8px;
	border: none;
	box-sizing: initial!important;

	transition: all .5s ease;
	border-color: rgba(0,0,0,.0);
	box-shadow: 0vw 0.23vw 0.85vw rgba(0,0,0,.2);

	padding-left: 1vw;
  margin-top:1vw;
}

input[type="text"]:hover {
	box-shadow: 0vw 0.23vw 0.85vw 0.2vw rgba(0,0,0,0.2);
}
input[type="number"] {
	display: inline-block;
	width: 20vw;
	height: 4vw;
	font-size: 1.4vw;
	font-family: 'Open Sans', sans-serif;
	border-radius: 8px;
	border: none;
	box-sizing: initial!important;

	transition: all .5s ease;
	border-color: rgba(0,0,0,.0);
	box-shadow: 0vw 0.23vw 0.85vw rgba(0,0,0,.2);

	padding-left: 1vw;
  margin-top:1vw;
}

input[type="number"]:hover {
	box-shadow: 0vw 0.23vw 0.85vw 0.2vw rgba(0,0,0,0.2);
}
input[type="submit"]  {
  background-color: #ff3a3a;
  color: #fff;
  box-sizing: initial!important;
  font-family: 'Open Sans', sans-serif;
  border-radius: 8px;
  border-color: rgba(0,0,0,.0);
  border: none!important;
  font-size: 1.4vw;
  width: 50vw;
  height: 4vw;
	display: inline-block;
	margin-top: 10px;
  text-align: left;
  box-shadow: 0vw 0.23vw 0.85vw rgba(255, 40, 40, 0.3);
  transition: box-shadow 0.5s ease-in-out;
     -webkit-appearance: none;
}

input[type="submit"]:hover {
  box-shadow: 0vw 0.23vw 0.85vw 0.2vw rgba(255, 40, 40, 0.3);
}

.submit {
  background-color: #ff3a3a;
  color: #fff;
  box-sizing: initial!important;
  font-family: 'Open Sans', sans-serif;
  border-radius: 8px;
  border-color: rgba(0,0,0,.0);
  border: none!important;
  width: 50vw;
  height: 4vw;
	display: inline-block;
	margin-top: 10px;
  text-align: left;
  box-shadow: 0vw 0.23vw 0.85vw rgba(255, 40, 40, 0.3);
  transition: box-shadow 0.5s ease-in-out;
     -webkit-appearance: none;

}
.submit:hover {
  box-shadow: 0vw 0.23vw 0.85vw 0.2vw rgba(255, 40, 40, 0.3);
}

@font-face {
    font-family: manrope;
    src: url("manrope/manrope-regular.ttf");
}

@font-face {
    font-family: manrope;
    font-weight: bold;
    src: url("manrope/manrope-bold.ttf");
}

.spacer {
  width:auto;
  height:10vw;
}
.down-arrow {
  background-image: url("down.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width:4vw;
  height:4vw;
}
.blue-arrow {
  background-image: url("blue-down.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width:4vw;
  height:4vw;
}
.left-arrow {
  transform: rotate(90deg);
  background-image: url("down.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width:4vw;
  height:4vw;
}
.right-arrow {
  transform: rotate(270deg);
  background-image: url("down.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width:4vw;
  height:4vw;
}
.overlay {
  position: fixed;
  background-color: #000;
  opacity: 0.4;
  width: 100vw;
  height: 100vh;
  z-index: 1999;
  display: none;
  overflow:hidden;
}
.popup {
  width:90vw;
  height:90vh;
  z-index: 2000;
  position: fixed;
  background-color: white;
  display: none;
  text-align: center;
  box-shadow: 0vw 1vw 4vw 0vw #666;
  border-radius:0.5vw;
  margin-left: 5vw;
  margin-top: 5vh;
}
#exit {
  background-color: rgba(0,0,0,0.0);
  width: 3vw;
  height:3vw;
  border-radius: 2vw;
  font-size: 28pt;
  position: fixed;
  margin-left: 0.5vw;
  margin-top: 0.5vw;
  z-index: 3000;
  background-image: url('x.svg');
  background-size: contain;
  background-repeat: no-repeat;
}
#popText {
  text-align:left;
  width:80vw;
  margin-left:2vw;
  margin-top:10vh;
  height:auto;
  position: relative;
  font-size: 39pt;
  color: #1c9bff;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: 'manrope', sans-serif;
}
#popParagraph {
  text-align:left;
  width:50vw;
  margin-left:2vw;
  margin-top:6vh;
  height:auto;
  position: relative;
  font-size: 15pt;
  color:#d2d2d2;
  letter-spacing: 1px;
  font-family: 'manrope', sans-serif;
}
#popPic {
width:32vw;
height:30vw;
overflow: hidden;
position: fixed;
bottom:0;
right:0;
border-bottom-right-radius: 0.5vw;
}
#popButton {

}
#popPrice {
  text-align:left;
  width:20vw;
  margin-left:2vw;
  height:auto;
  margin-top:6vh;
  position: relative;
  font-size: 33pt;
  color: #1c9bff;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: 'manrope', sans-serif;
}
#popContain {
  width:100%;
  height:99%;
  position: absolute;
  top:0;
  overflow-y:scroll;
}

.scale-in-center {
	-webkit-animation: scale-in-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2019-6-5 1:42:39
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
